{% extends "partials/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Login Page
{% endblock %}

{% block style %}

label {
    color: aliceblue;
}

{% endblock %}

{% block content %}
<body style="background-image: url('https://images.unsplash.com/photo-1607798748738-b15c40d33d57?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); overflow: hidden;">
    <div class="overlay"></div> <!-- Add this line -->
    <section class="mt-3">
        <div class="container">
            <div class="row d-flex justify-content-center align-items-center h-100">
                
                    <div class="card shadow" style="border-radius: 5px; background-color: rgba(0, 0, 0, 0.5);">
                        <div class="card-body">
                            <div class="row justify-content-center">
                                <div class="col-md-10 col-lg-12 col-xl-12 order-2">
                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4" style="color: #fff;">Login</p>
                                    <form class="mx-1 mx-md-4" method="POST">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <div class="d-grid mt-5 ">
                                            <button type="submit" class="btn btn-primary btn-lg">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </section>
</body>
{% endblock %}
